<a href="https://colab.research.google.com/github/selvadharani-it19/Machine_learning/blob/main/Linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [77]:
import pandas as pd
import numpy as np

In [38]:
df=pd.read_csv('/content/sample_data/california_housing_train.csv')

In [66]:
df

       longitude  latitude  ...  median_income  median_house_value
0        -114.31     34.19  ...         1.4936             66900.0
1        -114.47     34.40  ...         1.8200             80100.0
2        -114.56     33.69  ...         1.6509             85700.0
3        -114.57     33.64  ...         3.1917             73400.0
4        -114.57     33.57  ...         1.9250             65500.0
...          ...       ...  ...            ...                 ...
16995    -124.26     40.58  ...         2.3571            111400.0
16996    -124.27     40.69  ...         2.5179             79000.0
16997    -124.30     41.84  ...         3.0313            103600.0
16998    -124.30     41.80  ...         1.9797             85800.0
16999    -124.35     40.54  ...         3.0147             94600.0

[17000 rows x 9 columns]

In [113]:
from sklearn.linear_model import LinearRegression

In [114]:
from sklearn.model_selection import train_test_split

In [115]:
x=df[['housing_median_age','total_rooms','total_bedrooms','population','households','median_income']]
y=df['median_house_value']

In [116]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20)

In [117]:
y_train

3591     215100.0
6293     112500.0
12591    386200.0
12899    183800.0
5536     134000.0
           ...
8239     500001.0
8625     189300.0
7814     237500.0
1570     216900.0
14922    146900.0
Name: median_house_value, Length: 13600, dtype: float64

In [118]:
model=LinearRegression()

In [119]:
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [120]:
y_pred=model.predict(x_test)

In [121]:
from sklearn.metrics import r2_score

In [122]:
r2_score(y_test,y_pred)

0.554171917928022

In [123]:
from sklearn.metrics import mean_absolute_error

In [124]:
mean_absolute_error(y_test,y_pred)

57606.87360566176

In [127]:
x_p=[[7.0,720.0,174.0,333.0,117.0,1.6509]]
x_p=np.array(x_p)
x_p.reshape(1,-1)

array([[  7.    , 720.    , 174.    , 333.    , 117.    ,   1.6509]])

In [128]:
model.predict(x_p)

array([51898.38326959])